<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel = "stylesheet" href="public/css/index.css">
</head>
<body>
<header>
    <div class="topbarContainer">
        <div class="topbarLeft">
            <a href="/">
                <span class="logo">Tomioka</span>
            </a>
        </div>
        <div class="topbarCenter">
            <div class="searchbar">
                <img class="search" src = 'public/img/search-interface-symbol.png'>
                <input placeholder="Search for friends" class="searchInput"/>
            </div>
        </div>
        <div class="topbarRight">
            <div class="topbarLinks">
                <span class="topbarLink">Homepage</span>
                <span class="topbarLink">Timeline</span>
            </div>
            <div class="topbarIcons">
                <div class="topbarIconItem">
                    <img class ="topbarImgMain" src = 'public/img/user.png'>
                    <span class="topbarIconBadge">1</span>
                </div>
                <div class="topbarIconItem">
                    <img class ="topbarImgMain" src = 'public/img/chat.png'>
                    <span class="topbarIconBadge">1</span>
                </div>
                <div class="topbarIconItem">
                    <img class ="topbarImgMain" src = 'public/img/bell.png'>
                    <span class="topbarIconBadge">1</span>
                </div>
            </div>
            <img src="public/img/user.png" alt="" class="topbarImg"/>
        </div>
    </div>
</header>
<div class="fullBody">
<section>
    <div class="sidebar">
        <div class="sidebarWrapper">
            <ul class="sidebarList">
                <li class="sidebarItem">
                    <a href="/profile">
                        <img src = "public/img/account.png" class="sidebarIcon"/>
                        <span class="sidebarItemText">My Profile</span>
                    </a>
                </li>
                <li class="sidebarItem">
                    <a href="/">
                        <img src = "public/img/worldwide.png" class="sidebarIcon"/>
                        <span class="sidebarItemText">News</span>
                    </a>
                </li>
                <li class="sidebarItem">
                    <a href="/chat">
                        <img src = "public/img/chat.png" class="sidebarIcon"/>
                        <span class="sidebarItemText">Chat</span>
                    </a>
                </li>
                <li class="sidebarItem">
                    <a href="/friends">
                        <img src = "public/img/friends.png" class="sidebarIcon"/>
                        <span class="sidebarItemText">Friends</span>
                    </a>
                </li>
            </ul>
            <button class="sidebarButton">Show More</button>
            <hr class="sidebarHr"/>
        </div>
    </div>
</section>
<section>
    <div class="feed">
        <div class="feedWrapper">
            <div class="share">
                <div class="shareWrapper">
                    <div class="shareTop">
                        <img class="shareProfileImg" src="public/img/user.png" alt=""/>
                        <input placeholder="What's in your mind, Tomioka?" class="shareInput"/>
                    </div>
                    <hr class="shareHr"/>
                    <div class="shareBottom">
                        <div class="shareOptions">
                            <div class="shareOptions">
                                <img style="filter: brightness(0) saturate(100%) invert(23%) sepia(98%) saturate(4093%) hue-rotate(2deg) brightness(93%) contrast(117%);" src = "public/img/add-image.png" class ="shareIcon">
                                <span class="shareOptionText">Photo/Video</span>
                            </div>
                            <div class="shareOptions">
                                <img style="filter: brightness(0) saturate(100%) invert(36%) sepia(97%) saturate(6587%) hue-rotate(233deg) brightness(100%) contrast(93%);" src = "public/img/ribbon.png" class ="shareIcon">
                                <span class="shareOptionText">Tag your friends!</span>
                            </div>
                            <div class="shareOptions">
                                <img style="filter: brightness(0) saturate(100%) invert(74%) sepia(99%) saturate(461%) hue-rotate(336deg) brightness(99%) contrast(97%);" src = "public/img/happy.png" class ="shareIcon">
                                <span class="shareOptionText">Emoji</span>
                            </div>
                            <div class="shareOptions">
                                <img style="filter: brightness(0) saturate(100%) invert(54%) sepia(100%) saturate(2761%) hue-rotate(86deg) brightness(118%) contrast(95%);" src = "public/img/share.png" class ="shareIcon">
                                <span class="shareOptionText">Share with your feelings!</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>

</section>
</div>
</body>
</html>