<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <div class="topbarContainer">
        <div class="topbarLeft">
            <a to="/">
            <span class="logo">Tomioka</span>
            </a>
        </div>
        <div class="topbarCenter">
            <div class="searchbar">
                <SearchIcon class="search"/>
                <input placeholder="Search for friends" class="searchInput"/>
            </div>
        </div>
        <div class="topbarRight">
            <div class="topbarIcons">
                <div class="topbarIconItem">
                    <PersonIcon/>
                    <span class="topbarIconBadge">1</span>
                </div>
                <div class="topbarIconItem">
                    <ChatIcon/>
                    <span class="topbarIconBadge">1</span>
                </div>
                <div class="topbarIconItem">
                    <NotificationsNoneIcon/>
                    <span class="topbarIconBadge">1</span>
                </div>
            </div>
            <img src="/assets/humans/kindpng_142137.png" alt="" class="topbarImg"/>
        </div>
    </div>
</header>
    <div class="feed">
        <div class="feedWrapper">

        </div>
    </div>
</body>
</html>